<dialog id="add_workout_modal" class="modal window">
  <div class="modal-box">
    <div class="title-bar mb-4">
      <div class="title-bar-text text-lg px-2">Add Workout</div>
    </div>
    <form 
      hx-post="{% url 'workouts:workout' %}" 
      hx-target="#workouts-body" 
      hx-swap="innerHTML" 
      hx-on:workout-added="add_workout_modal.close(); this.reset();"
      class="mb-4"
    >
      {% csrf_token %}
      <div class="form-control px-2">
        <div class="mb-2">
          <span class="text-lg p-1">{{ form.date }}</span>
        </div>
        <div class="mb-2">
          <span class="p-1">{{ form.workout_type }}</span>
        </div>

        <div class="mb-2">
          <label class="label">
            <span class="text-lg label-text">Workout Data</span>
          </label>
        </div>

        <div id="dynamic-workout-fields" 
             hx-get="{% url 'workouts:get_workout_type_fields' %}"
             hx-trigger="change from:select[name='workout_type']"
             hx-target="this"
             hx-swap="innerHTML"
             hx-include="select[name='workout_type']">
          <!-- Dynamic fields will be loaded here -->
        </div>

        <div class="mb-2">
          <span class="text-lg p-1">{{ form.note }}</span>
        </div>

        <div class="modal-action flex justify-end mb-4">
          <button class="default m-1 p-1" type="button" onclick="add_workout_modal.close()">Cancel</button>
          <button class="default m-1 p-1" type="submit">OK</button>
        </div>
    </form>
  </div>
</dialog>
