<footer class="p-4 fixed bottom-0 w-full bg-gray-300 flex justify-center border border-gray-400">
  <button 
  class="btn mx-2 px-2"
  hx-get="/?view_date={{ prev_week }}"
  hx-push-url="true"
  hx-target="body"
  hx-swap="innerHTML"
>
  Previous
</button>
<button 
  class="btn mx-2 px-2"
  hx-get="/"
  hx-push-url="true"
  hx-target="body"
  hx-swap="innerHTML"
>
  Today
</button>
<button 
  class="btn mx-2 px-2"
  hx-get="/?view_date={{ next_week }}"
  hx-push-url="true"
  hx-target="body"
  hx-swap="innerHTML"
>
  Next
</button>
</footer>