<footer class="window fixed bottom-0 w-full flex justify-center p-4">
  <button 
  class="btn text-lg mx-1 py-1 px-2"
  hx-get="/?view_date={{ prev_week }}"
  hx-push-url="true"
  hx-target="body"
  hx-swap="innerHTML"
>
  Previous
</button>
<button 
  class="btn text-lg mx-1 py-1 px-2"
  hx-get="/"
  hx-push-url="true"
  hx-target="body"
  hx-swap="innerHTML"
>
  Today
</button>
<button 
  class="btn text-lg mx-1 py-1 px-2"
  hx-get="/?view_date={{ next_week }}"
  hx-push-url="true"
  hx-target="body"
  hx-swap="innerHTML"
>
  Next
</button>
</footer>