<div class="window mb-2">
  <li>
    <div class="title-bar p-2">
      <p class="title-bar-text text-xl">{{ workout_date.date }}</p>
    </div>
    <div class="bg-gray-400 p-2">
      <table>
        {% for workout in workout_date.workouts %}
          <li>
            <div class="text-base flex justify-start">
              <p class="text-base">{{ workout.workout_type.title }}</p>
              {% comment %} <p class="text-red-600 ml-4"> DELETE</p> {% endcomment %}
            </div>
              {% for key, value in workout.data.items %}
                <p class="text-sm pl-4">
                  {{ key }}: {{ value }} 
                </p>
              {% endfor %}
            <p class="text-sm pl-4 ml-4">{{ workout.note }}</p>
          </li>
        {% endfor %}
      </table>
    </div>
  </li>
</div>