<div class="window mb-2">
  <li>
    <div class="title-bar p-2">
      <p class="title-bar-text text-xl">{{ workout_date.date }}</p>
    </div>
    <div class="bg-gray-400 p-2">
      <table>
        {% for workout in workout_date.workouts %}
          <div class="flex justify-between">
            <div class="workout-item cursor-pointer">
              <div class="text-base flex justify-start">
                <p class="text-base">{{ workout.workout_type.title }}</p>
              </div>
                {% for key, value in workout.data.items %}
                  <p class="text-sm pl-4">
                    {{ key }}: {{ value }} 
                  </p>
                {% endfor %}
              <p class="text-sm pl-4 ml-4">{{ workout.note }}</p>
            </div>
            <div>
              <button
                class="btn text-lg mx-1 py-1 px-2"
                hx-trigger="click"
                hx-get="{% url 'workouts:workout_modal' workout.id %}"
                hx-target="#update-workout-container"
                hx-swap="outerHTML"
                hx-on:htmx:after-request="update_workout_modal.showModal()"
              >
                Edit
              </button>
            </div>
          </div>
        {% endfor %}
      </table>
    </div>
  </li>
  <dialog id="update_workout_modal" class="modal window"><div id="update-workout-container">HALO</div></dialog>
</div>
