{% extends 'base.html' %} {% block content %}

<div>
  <h1 class="text-4xl text-success mb-4">
    Workout Journal -- Signed in as {{ user.username }}
  </h1>
  <button id="addWorkoutButton">Add Workout</button>
  <ol>
    {% for workout_date in workouts %}
      <li>
        <a>{{ workout_date.date }}</a>
        <ul>
          {% for workout in workout_date.workouts %}
            <li>
              <a>- {{ workout.workout_type }}</a>
              <a>- {{ workout.note }}</a>
            </li>
          {% endfor %}
      </li>
    {% empty %}
      <li>No workouts found.</li>
    {% endfor %}
</div>

{% endblock %}
