name: deploy
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Deploy to Pi
      run: |
        curl -L \
          https://pi.mitchbr.dev/deploy?service=${{ github.event.repository.name }}